<div class="border rounded-1 shadow CV">
  <div class="content">
    <div class="main_left">
      <header>
        <h1><b> Hi Welcom to my hut </b></h1>
      </header>
      <main>
        <article>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum neque
          impedit consequuntur. Quas consequuntur pariatur porro molestiae velit
          tenetur error voluptatibus dolorem vel est sint iusto laudantium
          ratione veritatis asperiores, officiis eveniet unde ipsum reiciendis
          commodi magnam provident nulla voluptate ab! Nihil totam, repellendus
          sapiente sit, libero qui maiores a quo iusto, animi officiis dolor
          enim consectetur dignissimos et numquam aperiam illum blanditiis
          tenetur facere excepturi iste quod perspiciatis nisi? Excepturi nam
          voluptate omnis? Sapiente accusantium voluptatem reiciendis, officiis
          consectetur impedit necessitatibus a accusamus qui corporis nisi alias
          eum nostrum consequatur pariatur ea! Nisi officiis quis perspiciatis
          atque consectetur voluptates.
        </article>
        <div class="download">
          <button type="button" class="btn btn-dark my-auto">
            Contact
          </button>
          <p class="my-auto">download CV <i class="bi bi-download"></i></p>
        </div>
        <div class="social_media">
          <ul class="list-group list-group-horizontal gap-4">
            <li>
              <a href=""><img
                  class="icon"
                  src="assets/images/Linkedin.png"
                  alt=""
                /></a>
            </li>
            <li>
              <a href=""><img
                  class="icon"
                  src="assets/images/Instagram.png"
                  alt=""
                /></a>
            </li>
            <li>
              <a href=""><img
                  class="icon"
                  src="assets/images/facebook.png"
                  alt=""
                /></a>
            </li>
            <li>
              <a href=""><img
                  class="icon"
                  src="assets/images/Tweeter.png"
                  alt=""
                /></a>
            </li>
          </ul>
        </div>
      </main>
    </div>
    <div class="main_right">
      <div class="card mx-auto" style="width: 18rem">
        <img src="assets/images/Foto.png" class="card-img-top" alt="..." />
        <div class="card-body card_Text">
          <h5 class="card-title"><b>Rhoma Irama</b></h5>
          <p class="card-text">Fullstack Developer</p>
        </div>
      </div>
    </div>
  </div>
  <footer><p>© Faris Rahman Shalih 2025</p></footer>
</div>