/* Global Styling */
body {
  background-color: #e0e4e8;
}
ul {
  list-style-type: none;
}
a {
  display: flex;
  text-decoration: none;
  color: black;
}
.icon {
  width: 40px;
  height: 40px;
}
footer {
  margin-top: 40px;
  text-align: center;
}
article {
  text-align: justify;
  margin-top: 20px;
}
.card {
  margin-top: 40px;
}
.card p {
  font-size: 13px;
}
.card h5 {
  font-size: 20px;
}
.card_Text {
  text-align: center;
}

/* Responsive Layout */

/* === Desktop === */
@media (min-width: 945px) {
  /* Navbar */
  .container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 70px;
  }
  .navbar {
    margin-left: 90px;
  }
  .navbar h2 {
    padding-top: 5px;
    font-size: 25px;
  }
  .navbar h6 {
    padding-top: 10px;
    font-size: 20px;
  }
  .navbar img {
    width: 70px;
    height: 40px;
  }
  .list-group {
    gap: 4rem;
  }
  .container-navbar .btn-dark {
    width: 150px;
    height: 40px;
    margin-right: 70px;
  }
  .container-navbar span {
    display: inline-block;
    margin-bottom: 3px;
  }

  /* CV */
  .CV {
    background-color: white;
    margin: 5% 15%;
    width: 70%;
    padding: 50px;
  }

  /* Main Content */
  .content {
    display: flex;
    gap: 40px;
  }
  .main-left {
    flex: 2;
  }
  .main-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  /* Download Section */
  .download {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  .download p {
    padding-left: 30px;
  }
  .download .btn-dark {
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100px;
  }

  /* Social Media */
  .social_media {
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }
}

/* === Mobile === */
@media (max-width: 945px) {
  /* Navbar */
  .container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 70px;
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .container-fluid {
    margin-top: 10px;
  }
  .navbar h2 {
    padding-top: 5px;
    font-size: 25px;
  }
  .navbar h6 {
    padding-top: 10px;
    font-size: 20px;
  }
  .navbar img {
    width: 70px;
    height: 40px;
  }
  .list-group {
    gap: 2rem;
  }

  /* CV */
  .CV {
    background-color: white;
    margin: 5% 15%;
    width: 70%;
    padding: 50px;
  }

  /* Download Section */
  .download {
    margin-top: 20px;
  }
  .download p {
    padding-top: 20px;
  }
  .download .btn-dark {
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100px;
  }

  /* Social Media */
  .social_media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-left: 20px;
  }
}

/* form */
.form-container {
  width: 40%;
}
.form-container h1 {
  margin: 100px 0px 20px;
  text-align: center;
}
.form-container label {
  font-size: 20px;
}
.form-container a {
  margin: 40px 0px 30px;
  justify-content: end;
}
.form-container button {
  width: 150px;
  border-radius: 50px;
}
.form-container span {
  display: inline-block;
  margin-bottom: 3px;
}
.form-select:hover {
  cursor: pointer;
}
