body {
  display: flex;
  margin: 5% 15%;
  flex-direction: column;
  background-color: #e0e4e8;
}
.CV {
  background-color: white;
  width: 105%;
  height: 5%;
  padding: 50px;
}
article {
  text-align: justify;
  margin-top: 20px;
}

.btn-dark {
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100px;
}

a {
  display: flex;
  text-decoration: none;
}
.icon {
  width: 40px;
  height: 40px;
}

.card {
  margin-top: 40px;
}
ul {
  list-style-type: none;
}

.social_media {
  display: flex;
  justify-content: center;
  padding-left: 20px;
}
.card_Text {
  text-align: center;
}
footer {
  margin-top: 40px;
  text-align: center;
}
