/* Bagian body dan Background CV */
body {
  display: flex;
  margin: 5% 15%;
  flex-direction: column;
  background-color: #e0e4e8;
}
.CV {
  background-color: white;
  width: 105%;
  height: 5%;
  padding: 50px;
}

/* article*/
article {
  text-align: justify;
  margin-top: 20px;
}

/* button */
.btn-dark {
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100px;
}

/* Social_Media */
.social_media {
  display: flex;
  justify-content: center;
  padding-left: 20px;
}
a {
  display: flex;
  text-decoration: none;
}
.icon {
  width: 40px;
  height: 40px;
}

/* Card */
.card {
  margin-top: 40px;
}
.card p {
  font-size: 13px;
}
.card h5 {
  font-size: 20px;
}
ul {
  list-style-type: none;
}

.card_Text {
  text-align: center;
}

/* Footer */
footer {
  margin-top: 40px;
  text-align: center;
}
